*{
   box-sizing: border-box;
   font-size: xx-small;
   background-color:#001;
   line-height: normal;
   border: none;

}
h2{
   font-weight: bold;
   font-family: sans-serif;
   color: #f2e4e3;
}   

 img {
   
   
   
   background-color:	#FFFF00;
   
   
   
   
}


.card{
   color: mediumaquamarine;
   background-color: 	#3CB371;
   font-size: medium;
   

   

}

p{
   font-size: small;
}

.card-title {
  
   
   background-color:#DB7093;
   color: black;
   font-weight: bolder;
}
#fill{
   font-family: courier;
  
}
#cbg{
   
   color: 	#000080;
   font-weight: bolder;
   font-size: large;
   background-color: yellowgreen;
   width: 100%;
}
#abs{
  
   margin-top: 2px;
   font-weight: bolder;
   font-size: larger;
   color: #00FF00;
}
.weight{
   font-style: italic;
   font-size: medium;
   font-size: larger;
}






